.navbar__item:not(:first-child) {
  margin-right: 1rem;
}

.navbar__button {
  color: #475569;
  padding-right: 0.4rem;
  cursor: pointer;
}

.navbar__avatar {
  cursor: pointer;
}

.navbar {
  border-color: #7e83af !important;
  background-color: #bbc8ff;
}
