<nav class="navbar px-4 border-bottom d-flex flex-row-reverse justify-content-start align-items-center">
  <div class="navbar__item">
    <span class="navbar__button d-none d-md-inline pr-2 fw-bolder">More</span>
    <fa-icon class="navbar__button" [icon]="faBars" [styles]="{'color': '#475569'}" size="lg"></fa-icon>
  </div>
  <div class="navbar__item" (click)="expandUserMenu()">
    <ng-container *ngIf="localUser; else templateForGuests">
      <span class="navbar__button d-none d-md-inline pr-2 fw-bolder">{{localUser.username}}</span>
      <img class="navbar__avatar rounded-circle" alt="Avatar" src="/assets/avatar.jpg" width="40" height="40">
    </ng-container>
  </div>
</nav>
<app-user-menu [user]="localUser" [expanded]="userMenuExpanded"
               (visibilityChange)="changeVisibility($event)"></app-user-menu>

<ng-template #templateForGuests>
  <span class="navbar__button d-none d-md-inline pr-2 fw-bolder">Account</span>
  <fa-icon class="navbar__button" [icon]="faUser" [styles]="{'color': '#475569'}" size="lg"></fa-icon>
</ng-template>

