<div class="movie-container--outer">
  <img class="movie-container__image" [src]="movie.imageUrl" alt="Movie image">
  <div class="movie-container">
    <div class="movie-container__text">
      <p class="movie-container__text--title">{{movie.title | uppercase}}</p>
      <p>{{movie.year}}</p>
      <p class="movie-container__text--crew">{{movie.crew}}</p>
      <ng-content></ng-content>
    </div>
    <div class="movie-container__ratings">
      <p><span class="movie-container__ratings--rating">{{movie.imDbRating}}</span>/10</p>
      <p class="movie-container__ratings--count">Total ratings<br>{{movie.imDbRatingCount}}</p>
    </div>
  </div>
</div>
