.row--hidden {
  transition: max-height 0.2s, border-bottom-width 0.1s;
  border-bottom-width: 0;
  max-height: 0;
}

.row--visible {
  transition: max-height 0.2s, border-bottom-width 0.1s;
  // hack which solves problem with no possibility to animate with max-height: auto without JS
  // it allows only three rows...
  max-height: 102px;
}

.row {
  border-color: #7e83af !important;
  background-color: #c6d4ff;
  overflow: hidden;

  .row__button {
    cursor: pointer;
    color: #475569;
  }
}
