<nav
  [ngClass]="{'row--hidden border-b-0': !isRowExapnded, 'border-b-2 row--visible': isRowExapnded}"
  class="row px-4 d-flex border"
>
  <div class="d-flex flex-row-reverse py-1 gap-4">
    <ng-container *ngIf="localUser; else guestUser">
      <span class="row__button fw-bold" (click)="logout()">Logout</span>
    </ng-container>
    <span class="row__button fw-bold" [routerLink]="'screenings'">Screenings</span>
    <span class="row__button fw-bold" [routerLink]="'movies'">Movies</span>
  </div>
</nav>

<ng-template #guestUser>
  <span class="row__button fw-bold" (click)="redirectToLoginPage()">Login</span>
  <span class="row__button fw-bold" [routerLink]="'register'">Register</span>
</ng-template>
