.layout {
  margin: 0 10%;

  @media (max-width: 1024px) {
    margin: 0 5%;
  }
  @media (max-width: 768px) {
    margin: 0 2%;
  }
  @media (max-width: 480px) {
    margin: 0;
  }
}

.test {
  height: 200px;
  background-color: red;
}
