<div class="layout">
  <div class="bar">
    Select date:
    <app-screenings-settings (onScreeningDateChange)="handleScreeningDateChange($event)"></app-screenings-settings>
  </div>
  <div *ngFor="let movieWithScreenings of moviesWithScreenings">
    <hr/>
    <app-movie [movie]="movieWithScreenings.movie">
      <div class="bar">
        <button class="bar__pill" *ngFor="let screening of movieWithScreenings.screenings" [disabled]="isGuest()">
          {{getOnlyHourAndMinutes(screening)}}
        </button>
      </div>
    </app-movie>
  </div>
</div>

